.footerleft
{height:23vh;
    padding:0vh;
    margin-top:2vh;
    margin-left: 10vw;
    width:40vw;
 
    font-family: 'Arial';
font-style: normal;
font-weight: 300;
font-size: 1.1vw;
line-height: 3vh;
display: flex;
color: white;

}
.list2{
    list-style: none;
 
   
}

 ul li{
    
    margin-bottom:1vh;
    cursor: pointer;
}